{% assign APP_URL = 'https://brook-dependent-specialties-another.trycloudflare.com' %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
(function() {
  'use strict';
  window.LEADCOD_CONFIG = window.LEADCOD_CONFIG || {};
  window.LEADCOD_CONFIG.APP_URL = '{{ APP_URL }}';
  window.LEADCOD_CONFIG.API_BASE_URL = '{{ APP_URL }}/api';
  window.LEADCOD_CONFIG.getApiUrl = function(endpoint) {
    const baseUrl = this.API_BASE_URL.replace(/\/$/, '');
    const path = endpoint.replace(/^\//, '');
    return baseUrl + '/' + path;
  };
})();
</script>

<script>
(function() {
  window.LEADCOD_PIXEL_DATA = window.LEADCOD_PIXEL_DATA || {};
  window.LEADCOD_PIXEL_DATA.shopUrl = '{{ shop.domain }}';
  {% if product %}
  window.LEADCOD_PIXEL_DATA.productData = {
    id: {{ product.id | json }},
    title: {{ product.title | json }},
    variant_id: {{ product.selected_or_first_available_variant.id | json }},
    variants: {{ product.variants | json }},
    price: {{ product.selected_or_first_available_variant.price | json }},
    currency: {{ cart.currency.iso_code | default: 'DZD' | json }}
  };
  {% else %}
  window.LEADCOD_PIXEL_DATA.productData = null;
  {% endif %}
})();
</script>
{{ 'leadcod-facebook-pixel.js' | asset_url | script_tag }}

<div id="leadcod-form-{{ block.id }}" class="leadcod-form-container">
  <div class="leadcod-form-loading">جاري تحميل النموذج...</div>
</div>

{{ 'leadcod-form-utils.js' | asset_url | script_tag }}
{{ 'leadcod-form-fields.js' | asset_url | script_tag }}

<script>
(function() {
  window.LEADCOD_FORM_INIT_DATA = window.LEADCOD_FORM_INIT_DATA || {};
  window.LEADCOD_FORM_INIT_DATA.blockId = '{{ block.id }}';
  window.LEADCOD_FORM_INIT_DATA.shopUrl = '{{ shop.domain }}';
  {% if product %}
  window.LEADCOD_FORM_INIT_DATA.productVariants = {{ product.variants | json }};
  window.LEADCOD_FORM_INIT_DATA.defaultVariantId = {{ product.selected_or_first_available_variant.id }};
  window.LEADCOD_FORM_INIT_DATA.product = {{ product | json }};
  {% else %}
  window.LEADCOD_FORM_INIT_DATA.productVariants = [];
  window.LEADCOD_FORM_INIT_DATA.defaultVariantId = null;
  window.LEADCOD_FORM_INIT_DATA.product = {};
  {% endif %}
})();
</script>
{{ 'leadcod-form-init.js' | asset_url | script_tag }}

{{ 'leadcod-form.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Leadcod Form",
  "target": "section"
}
{% endschema %}
